body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-color: white;
    min-height: 100vh;
  }
  
.container {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 1050px;
    height: 550px;
    background: darkslateblue;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    display: flex;    
}
  
h1 {
    margin-top: 10px;
    text-align: center;
    color: rgb(58, 45, 139);
    font-size: 50px; 
}

#operations{
    margin-top: 5px;
    margin-left: 5px;;
    width: 220px;
    height: 540px;
    background: #b596e6;
    border-radius: 10px;
}

#programmableArea{
    margin-left: 5px;
    margin-top: 5px;
    width: 450px;
    height: 540px;
    background: #b596e6;
    border-radius: 10px;
}

#code{
    margin-left: 5px;
    margin-top: 5px;
    width: 360px;
    height: 263px;
    background: #b596e6;
    border-radius: 10px;
    /* padding-left: 5px; */
}
#output{
    margin-left: 5px;
    margin-bottom: 5px;
    /* margin-top: 270px; */
    width: 360px;
    height: 268px;
    background: #b596e6;
    border-radius: 10px;
}

.operation {
    margin: 5px;
    padding: 5px;
    background-color: rgb(134, 116, 248);
    border-radius: 5px;
    cursor: move;
    user-select: none;
    text-align: center;
    font-weight: bold;
  }
  
  .variable {
    background-color: #eecfb5;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
  .add {
    background-color: #afdff0;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .subtract{
    background-color: #92ec2b;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .multiply {
    background-color: #ff63f2;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .divide{
    background-color: #860c4f;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .mod {
    background-color: #4ee793;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .equal {
    background-color: #f54a4a;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .notequal {
    background-color: #321eeb;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
  .forloop {
    background-color: #b1f1b1;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  .whileloop {
    background-color: #5e2d04;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
  .function {
    background-color: #FFA07A;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
  .ifelse {
    background-color: #f5eda5;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
  .readFile {
    background-color: #adcdf8;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
  .writeFile {
    background-color: #f7b9f7;
    margin-left: 6px;
    margin-top: 5px;
    width: 80px;
    text-align: center;
  }
  
.insideDiv{
    padding: 0.25rem;
    padding-top: 5px;
    background-color: #321eeb;
    min-height: 10px;
    padding-bottom: 3rem;
} 
.modifyblocks{
    display: flex;
    height: 30px;
    margin-top : 3px;
    margin-left: 5px;
} 
